*{
    font-family: Gilroy;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#left {
    position: relative;
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
}

#lnav{
    display: flex;
    width: 100%;
    padding: 20px 30px;
    justify-content: space-between;
}

#lnavr{
    display: flex;
    align-items: center;
}


#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

#lnav i {
    color : royalblue;
}

#left #text-center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#text-center h1 {
    font-size: 90px;
    font-weight: 900;
}

#text-center p {
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#text-center a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}

#right {
    width: 60%;
    height: 100%;
    background-color: white;
}

#right-top {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: royalblue;
}

#right-bottom {
    width: 100%;
    height: 50%;
    background-image: url(https://plus.unsplash.com/premium_photo-1674831509125-e4c3000404c5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#right-top-left{
    width: 55%;
    height: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1675667408018-3b64dbc55db1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#right-top-right{
    width: 45%;
    height: 100%;
   background-image: url(https://plus.unsplash.com/premium_photo-1675237625695-710b9a6c3f2e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: center;
}


/* RESPONSiVE  */

@media(max-width: 500px) {
    #main {
        flex-direction: column;
    }

    #main #left {
        width: 100%;
    }

    #main #right{
        width: 100%;
    }
}