*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: aliceblue;
    height: 50px;
}

img{
    height: 17px;
    width: 130px;
}

.navbar-anchors > a {
    text-decoration: none;
    color: grey;
}